html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #303133;
    background-color: #fff;
}

a {
    color: #45c2b5;
    text-decoration: none;
}

a:focus, a:hover {
    color: #17b3a3;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.site-wrapper {
    position: relative;
    height: 100%;
}

.site-sidebar--fold .site-navbar__header, .site-sidebar--fold .site-navbar__brand, .site-sidebar--fold .site-sidebar, .site-sidebar--fold .site-sidebar__inner, .site-sidebar--fold .site-sidebar__menu {
    width: 64px;
}

.site-sidebar--fold .site-navbar__body, .site-sidebar--fold .site-content__wrapper {
    margin-left: 64px;
}

.site-sidebar--fold .site-navbar__brand-lg {
    display: none;
}

.site-sidebar--fold .site-navbar__brand-mini {
    display: inline-block;
}

.site-sidebar--fold .site-navbar__switch {
    transition: all .3s;
    transform: rotate(180deg);
}

.site-sidebar--fold .site-sidebar, .site-sidebar--fold .site-sidebar__inner {
    overflow: initial;
}

.site-sidebar--fold .site-sidebar__menu-icon {
    display: block;
    margin-right: 0;
    font-size: 20px;
}

.site-sidebar--fold .site-sidebar__menu-name, .site-sidebar--fold .site-sidebar .layui-nav-more, .site-sidebar--fold .site-sidebar .layui-nav-child {
    display: none;
}

.site-sidebar--fold .site-content--tabs > .el-tabs > .el-tabs__header {
    left: 64px;
}

.site-navbar__header, .site-navbar__brand, .site-navbar__body, .site-sidebar, .site-sidebar__inner, .site-sidebar__menu, .site-sidebar__menu-icon, .site-content__wrapper, .site-content--tabs > .el-tabs .el-tabs__header {
    transition: inline-block .3s, left .3s, width .3s, margin-left .3s, font-size .3s;
}

.site-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    background-color: #17b3a3;
}

.site-navbar__header {
    position: relative;
    float: left;
    width: 230px;
    height: 50px;
    overflow: hidden;
}

.site-navbar__brand {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
}

.site-navbar__brand-lg, .site-navbar__brand-mini {
    margin: 0 5px;
    color: #fff;
}

.site-navbar__brand-lg:focus, .site-navbar__brand-lg:hover, .site-navbar__brand-mini:focus, .site-navbar__brand-mini:hover {
    color: #fff;
    text-decoration: none;
}

.site-navbar__brand-mini {
    display: none;
}

.site-navbar .layui-nav {
    padding: 0;
    color: #909399;
    background-color: transparent;
}

.site-navbar .layui-layout-left {
    left: 0;
}

.site-navbar .layui-nav .layui-nav-item {
    height: 50px;
    line-height: 50px;
}

.site-navbar .layui-nav .layui-nav-item a {
    color: #909399;
}

.site-navbar .layui-nav .layui-nav-item a:focus, .site-navbar .layui-nav .layui-nav-item a:hover {
    color: #303133;
}

.site-navbar .layui-nav .layui-nav-more {
    border-color: #606266 transparent transparent;
}

.site-navbar .layui-nav .layui-nav-mored {
    border-color: transparent transparent #606266;
}

.site-navbar .layui-nav .layui-this:after, .site-navbar .layui-nav .layui-nav-bar {
    height: 3px;
    background-color: #17b3a3;
}

.site-navbar__switch {
    float: left;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #909399;
}

.site-navbar__switch:focus, .site-navbar__switch:hover {
    color: #303133;
}

.site-navbar__switch .layui-icon {
    font-size: 18px;
    font-weight: normal;
}

.site-navbar__body {
    position: relative;
    margin-left: 230px;
    padding-right: 15px;
    background-color: #fff;
}

.site-navbar__menu {
    float: left;
    background-color: transparent;
    border-bottom: 0;
}

.site-navbar__menu--right {
    float: right;
}

.site-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1020;
    width: 230px;
    overflow: hidden;
    background-color: #263238;
}

.site-sidebar__inner {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100%;
    padding-bottom: 15px;
    overflow-y: scroll;
}

.site-sidebar__menu {
    width: 230px;
    border-right: 0;
    background-color: #263238;
}

.site-sidebar__menu-icon {
    width: 24px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
}

.site-sidebar__menu.layui-nav-tree .layui-nav-child dd a {
    padding: 0 40px;
    color: #8a979e;
}

.site-sidebar__menu.layui-nav-tree .layui-nav-child dd.layui-this, .site-sidebar__menu.layui-nav-tree .layui-nav-child dd.layui-this a, .site-sidebar__menu.layui-nav-tree .layui-this, .site-sidebar__menu.layui-nav-tree .layui-this > a, .site-sidebar__menu.layui-nav-tree .layui-this > a:hover, .site-sidebar__menu.layui-nav-tree .layui-nav .layui-nav-child dd.layui-this a, .site-sidebar__menu.layui-nav-tree .layui-nav-child dd.layui-this {
    color: #fff;
    background-color: transparent;
}

.site-sidebar__menu.layui-nav-tree .layui-nav-bar {
    background-color: #17b3a3;
}

.site-sidebar__menu.layui-nav-tree .layui-nav-item a {
    text-overflow: initial;
}

.site-content {
    position: relative;
    height: 100%;
    padding: 15px;
}

.site-content__wrapper {
    position: relative;
    height: 100%;
    padding-top: 50px;
    margin-left: 230px;
    background: #f1f4f5;
}

.site-content--tabs {
    padding: 40px 0 0;
    margin: 0;
}

.site-content--tabs > .layui-tab-title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: 0 80px 0 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    background-color: #fff;
}

.site-content--tabs > .layui-tab-title {
    font-size: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}

.site-content--tabs > .layui-tab-title > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: auto;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.site-content--tabs > .layui-tab-title > li:before {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    height: 2px;
    background-color: #45c2b5;
    overflow: hidden;
}

.site-content--tabs > .layui-tab-title > li:after {
    display: none;
}

.site-content--tabs > .layui-tab-title > li.layui-this:before {
    display: block;
}

.site-content--tabs > .layui-tab-title > li .layui-tab-close {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
}

.site-content--tabs > .layui-tab-title > li .layui-tab-close:hover {
    color: #fff;
    background-color: #c0c4cc;
}

.site-content--tabs > .layui-tab-title > li[lay-id="home"] .layui-tab-close {
    display: none;
}

.site-content--tabs > .layui-tab-title > .layui-tab-bar {
    display: none;
}

.site-content--tabs > .layui-tab-content {
    padding: 0px;
    height: 100%;
}

.site-content--tabs > .layui-tab-content > .layui-tab-item {
    height: 100%;
    background-color: #fff;
}

.site-content--tabs .content-tabs__header-lt, .site-content--tabs .content-tabs__header-rt {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
}

.site-content--tabs .content-tabs__header-rt {
    right: 0;
    width: 80px;
}

.site-content--tabs .content-tabs__header-perv, .site-content--tabs .content-tabs__header-next {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 40px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.site-content--tabs .content-tabs__header-perv .layui-icon, .site-content--tabs .content-tabs__header-next .layui-icon {
    font-size: 14px;
}

.site-content--tabs .content-tabs__header-tools {
    position: relative;
    float: right;
    font-size: 14px;
    background-color: #f1f4f5;
}

.site-content--tabs .content-tabs__header-tools > a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #606266;
}

.site-content--tabs .content-tabs__header-tools > a .layui-icon {
    font-size: 14px;
}

.site-content--tabs .content-tabs__header-tools > ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 5px;
    padding: 5px 0;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
}

.site-content--tabs .content-tabs__header-tools > ul li {
    padding: 0 15px;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    color: #606266;
}

.site-content--tabs .content-tabs__header-tools > ul li:hover {
    color: #45c2b5;
    background-color: #e8f7f6;
}

@media (max-width: 992px) {
}