<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>栏目管理</title>
    <!--<link rel="stylesheet" href="/assets/css/reset.css">-->
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/page.css">
    <script src="/assets/libs/layui/layui.js"></script>
    <script src="/assets/libs/layui/ext/global.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card layui-card-offset">
            <div class="layui-card-body">
                <div class="layui-table-tool">
                    <div class="layui-inline">
                        <input class="layui-input" style="height:30px" name="GroupName" id="demoReload"
                               placeholder="关键字" autocomplete="off">
                    </div>
                    <div class="layui-inline ">
                        <button class="layui-btn layui-btn-sm" data-type="reload" lay-event="search">
                            <i class="layui-icon layui-icon-search"></i>搜索
                        </button>
                        
                    </div>
                    <div class="layui-inline ">
                        <a title="高级搜索" class="layui-btn-icon" lay-event="adv">
                            <i class="layui-icon layui-icon-set-fill"></i>
                        </a>
                    </div>
                    <div class="layui-inline" style="float:right">
                        <div class="layui-inline">
                            <a title="刷新" class="layui-btn-icon" onclick="location.reload()">
                                <i class="layui-icon ">&#xe9aa;</i>
                            </a>
                        </div>
                        <div class="layui-btn-group">

                            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="delAll">
                                <i class="layui-icon layui-icon-delete"></i>批删
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="add">
                                <i class="layui-icon  layui-icon-add-1"></i>添加
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" id="tab" lay-filter="tab" lay-size="xs"></table>
                <div  id="pager"></div>
            </div>
        </div>
    </div>

    <script type="text/html" id="rowBar">
        <a onclick="member_stop(this,'10001')" href="javascript:;" title="启用">
            <i class="layui-icon">&#xe601;</i>
        </a>
        <a title="编辑" onclick="xadmin.open('编辑','member-edit.html',600,400)" href="javascript:;">
            <i class="layui-icon">&#xe642;</i>
        </a>
        <a onclick="xadmin.open('修改密码','member-password.html',600,400)" title="修改密码" href="javascript:;">
            <i class="layui-icon">&#xe631;</i>
        </a>
        <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
            <i class="layui-icon">&#xe640;</i>
        </a>

    </script>


    <script src="scripts/articleCate.js"></script>
</body>

</html>